<% include partials/header %>
<h1 class="text-center">About</h1>
<div class="description block-center">
    <p class="text-center big-p">Hi, I'm Trigex! I'm a 15 year old male that likes programming, anime, and writing.
    <br/><br/>I'm part of <a href="http://zombiewolf.net">ZombieWolf</a>, a media creation group, as a programmer and writer.
    I also created and write the cartoon <a href="http://classiccartooners.com">Classic Cartooners</a>, as well as it's web novel counterpart.
    I'm also the creator of the Discord Countries system, and run the country <a href="http://weebtopia.trigex.net">Weebtopia</a>.
    <br /><br />The programming languages I use include Python, Bash, Web Shit (HTML, CSS, JavaScript, PHP), nodejs, and
    C. I'm not too great at any one of them, but I try!!!</p>
</div>

<% include partials/footer %>
