<% include partials/header %>
<h1 class="text-center">About</h1>
<div class="description block-center">
    <p class="text-center big-p">Hi, I'm Trigex! I'm a 15 year old male that likes programming, anime, and writing.
    I also created and write the cartoon Classic Cartooners, as well as it's web novel counterpart.
    <br /><br />The programming languages I use include Python, Web Shit (HTML, CSS, JavaScript, PHP), NodeJS, and
    C#. I'm not too great at any one of them, but I try!!!</p>
</div>

<% include partials/footer %>
