<% include partials/header %>
<h1 class="text-center">About</h1>
<div class="description block-center">
    <p class="text-center big-p">Hi, I'm Trigex! I'm a 16 year old male that likes programming, anime, and writing.
    I also enjoy shitposting on 4chan, and working on shitty projects that never go anywhere, bad habit.
    <br /><br />The programming languages I use in most of my programming projects include PHP, NodeJS, and
    C# (and C kinda, but nothing serious there). 
    I'm currently fucking with Java so I can be the indian I've always wanted to be!</p>
</div>
<% include partials/footer %>
