<% include partials/header %>
<form action="/admin/auth" method="post">
    <p> Password:</p>
    <input type="password" name="password">
    </br>
    <input type="submit" value="Submit">
</form>
<% include partials/footer %>
