<% include partials/header %>
<% posts.forEach(function(post){ %>
    <div class="post">
        <h1><%= post.title %></h1>
        <h3><%= post.content %></h3>
        <p><%= post.timestamp %></p>
    </div>
<% }); %>


<% include partials/footer %>
