<% include partials/header %>
<a href="https://twitter.com/Trigex_SS"><h1 class="text-center">Twitter</h1></a>
<a href="https://github.com/Trigex"><h1 class="text-center">GitHub</h1></a>
<a href="https://www.youtube.com/Trigex"><h1 class="text-center">YouTube</h1></a>
<a href="http://textchan.trigex.net"><h1 class="text-center">Textchan</h1></a>
<% include partials/footer %>
