<% include partials/header %>
<div class="project">
    <h1>Waluigi Online</h1>
    <p>Waluigi Online was a MMORPG I created with C# for the client and PHP as a backend.
    It wasn't very good.</p>
    <a href="https://github.com/Trigex/Waluigi-Online"><i class="fa fa-github" aria-hidden="true"></i> Repository</a>
    <span class="php">PHP</span>
</div>

<div class="project">
    <h1>Discord Countries Bot</h1>
    <p>The bot that powers Discord Countries. Pretty nice.</p>
    <a href="https://github.com/Zygimantass/discordcountriesbot"><i class="fa fa-github" aria-hidden="true"></i> Repository</a>
    <span class="php">NodeJS</span>
</div>

<div class="project">
    <h1>Textchan (Old)</h1>
    <p>Textchan (Old) was my first big PHP project. It was a lightweight textboard script,
    aimed to be nice an simple, but also useful. The code base was pretty horrible though,
    and it's being rewritten in nodejs.</p>
    <a href="https://github.com/Trigex/Textchan"><i class="fa fa-github" aria-hidden="true"></i> Repository</a>
    <span class="php">PHP</span>
</div>

<div class="project">
    <h1>HTerm</h1>
    <p>HTerm was a terminal for the now dead game Hacking Simulator 2017. It was pretty neat.</p>
    <a href="https://github.com/Trigex/HTerm"><i class="fa fa-github" aria-hidden="true"></i> Repository</a>
    <span class="php">???</span>
</div>

<div class="project">
    <h1>Classic Cartooners Site</h1>
    <p>The website for my cartoon Classic Cartooners.</p>
    <a href="https://github.com/Trigex/Classic-Cartooners-Site"><i class="fa fa-github" aria-hidden="true"></i> Repository</a>
    <span class="php">PHP</span>
</div>
<% include partials/footer %>
