<% include partials/header %>
<% projects.forEach(function(project) { %>
<div class="project">
    <h1><%= project.name %></h1>
    <p><%= project.description %></p>
    <a href="<%= project.url %>">Repository</a>
</div>
<% }); %>
<% include partials/footer %>
